@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Montserrat", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main{
    width:100%;
    height:100vh;
    background:url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?cs=srgb&dl=pexels-simon73-1323550.jpg&fm=jpg);
    background-size:cover;
    /* background-repeat:no-repeat;
    background-position:center; */
    
}

.overlay{
    width:100%;
    height:100%;
    align-items:center;
    background-color:rgb(0,0,0,0.7);
    display:flex;
    flex-direction:column;
}

h2,h3 {
    margin-top:10px;
    margin-bottom:10px;
    color:white;
    font-size: 2.3rem;
    text-align:center;
}

.col{
    margin-top:20px;
    width:1000px;
    display:flex;
    color:white;
    justify-content:center;

}

.col div{
    width:250px;
    text-align:center;

}

input{
    height:50px;
    width:50%; 
    border-color:transparent;
    border-radius:5px;
    height:50px;   
    text-align:center;
    font-size:30px;
}


