*{
    margin:0;
    padding:0;
     box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial,sans-serif;
    background-color:#f5f5f5;
    color:black;

}

.content{
    text-align:center;
    
}

h1{
    margin-bottom:20px;
}

.button{
    display:inline-block;
    height:60px;
    width:60px;
    margin:10px;
    border-radius:8px;
    cursor:pointer;
    border:1px solid #000;
}

#grey{
    background-color: grey;
}

#blue{
    background-color:blue;
}

#yellow{
    background-color:yellow;
}

#red{
    background-color:red;
}

h2{
    margin-top:20px;
}

span{
    display:block;
    margin-top:5px;
}

